*.DS_Store
.bundle
.idea
.powenv
.sass-cache
app/assets/javascripts/jasmine_ci_*
assets/*
build_options.yml
config/gpg_passphrase_*
config/provisioning_passphrase_*
config/provisioning_token_*
db/cstore
db/development_dump.sql
doc/scratch.html.erb
log/*
node_modules
*.log
public/[45][0-9][0-9].html
public/a
public/assets
public/compiled
public/javascripts/all.js
public/javascripts/all_external.js
public/stylesheets/all.css
public/stylesheets/base.css
public/stylesheets/external.css
public/stylesheets/includes.css
public/stylesheets/project-tracker.css
public/system/*
solr/data*
solr/pids*
tmp/*
spec/reports/
vendor/git
vendor/bundle
public/uploads
public/design-system
doc/report.html
.vagrant
Vagrantfile
*.swp
tags
brainstem_docs
docker/id_rsa
docker/id_rsa.pub
/node_modules
/public/webpack
db/structure.sql
jasmine_ci_*
dump.rdb
junit_results.xml
db/dump
insights.env.yml
venv/
__pycache__/